body {
  background-color: wheat;
}

.block--green {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
}
.block--orange {
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 50%;
}
.block--red {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
}
