body {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  // min-height: 100vh;
  // padding: 1rem;
  // text-align: center;
  // background-color: green;
}

.block--green {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
}
.block--orange {
  width: 20px;
  height: 20px;
  background-color: orange;
  border-radius: 50%;
}
.block--red {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.group {
  margin-top: 20px;
}

.item-list-task-6 {
  list-style: none;
  border: 1px solid blue;
}

.item-list-task-6:not(:last-child) {
  margin-bottom: 10px;
}
